<div id="graduaciones">
        <table class="table is-bordered is-fullwidth">
            <tr>
                <th>OJO</th>
                <th>ESFERA</th>
                <th>CILINDRO</th>
                <th>EJE</th>
                <th>ADD</th>
                <th>DIP/AO</th>
            </tr>
    
    </table>
</div>

