<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <h4 class="title is-4">Ópticas Ellena</h4>
        </a>
  
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
            Home
            </a>

            <% if (name) { %>
  
            <a class="navbar-item">
                Usuario
            </a>
            <% } %>

            <% if (name) { %>
            <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Citas
                    </a>
                    <div class="navbar-dropdown">
                        <a href="" class="navbar-item">
                            Agendar Cita
                        </a>
                    </div>
            </div>
            
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Cliente
                </a>
                <div class="navbar-dropdown">
                    
                    
                    <a class="navbar-item">
                        Contratos
                    </a>
                    <a href="/user/empleado/cartera" class="navbar-item">
                        Cartera
                    </a>
                    <a class="navbar-item">
                        Recetas
                    </a>
                    <a class="navbar-item">
                        Entregas
                    </a>
                </div>
            </div>
            
            <a class="navbar-item">
                Inventario
            </a>

            <a class="navbar-item">
                Checklist
            </a>

            <a class="navbar-item">
                Recordatorios
            </a>
            <a class="navbar-item">
                Órdenes
            </a>
            <a class="navbar-item">
                Configuraciones
            </a>
            <% } %>
        </div>
        
  
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if (!name) {%>
                        <a href="/user/registrar" class="button is-danger-dark">
                            <strong>Registrarse</strong>
                        </a>
                        <a href="/user/login" class="button is-light">
                            Iniciar Sesión
                        </a>
                    <% } else { %>
                        <p>
                            Bienvenid@, <strong><%= name %></strong>
                        </p>
                        <a href="/user/logout" class="button is-danger-dark">
                            Cerrar Sesión
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>