<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/bulma.min.css">
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">

                <div class="title is-1">
                    ¡Ups!
                </div>
                No encontramos la página que deseas buscar. 
                <a class="is-danger-dark-text is-underlined" href="/">Regresar a página principal</a>
            </div>
        </div>
    </section>
</body>
</html>