<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartera</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css">
</head>
<body>
    <%- include('menu') %>
    <div class="mx-5 mt-5">
        <h1 class="title is-1"> Cartera </h1>
        <table class="table is-bordered is-fullwidth">
            <tbody>
                <tr>
                    <th>Contrato</th>
                    <th>Fecha de Venta</th>
                    <th>Nombre</th>
                    <th>Total de Venta</th>
                    <th>Anticipo</th>
                    <th>Saldo</th>
                    <th>Tiempo de Entrega</th>
                    <th>Teléfono</th>
                    <th>Fecha que Recibe</th>
                </tr>
                <tr>
                    <td>407</td>
                    <td>11-01-2025</td>
                    <td>Jimena Díaz Cervantes</td>
                    <td>$1900</td>
                    <td>$950</td>
                    <td>$950</td>
                    <td>18-01-2025</td>
                    <td>465 118 8226</td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>