<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ópticas Ellena</title>
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css">
</head>
<body>
    <%- include('includes/menu') %>
    <figure class="image">
        <img src="https://images.inc.com/uploaded_files/image/1920x1080/getty_628497968_386333.jpg" />
    </figure>
    <br>
    <div class="has-text-centered">
        <h3 class="title">
            Nuestros Modelos Más Vendidos
        </h3>
    </div>
    <br>
    <div class="columns">
        <div class="column">
            <figure>
                <img src="https://www.blockbluelight.co.uk/cdn/shop/products/blockbluelight-blue-light-filter-computer-glasses-clear-lens-screentime-taylor-computer-glasses-black-29752200659076.jpg?v=1651271597" alt="">
                <figcaption class="title is-6 has-text-centered">Milan</h4>
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="https://www.blockbluelight.co.uk/cdn/shop/products/blockbluelight-blue-light-filter-computer-glasses-clear-lens-screentime-taylor-computer-glasses-black-29752200659076.jpg?v=1651271597" alt="">
                <figcaption class="title is-6 has-text-centered">Aobenma</h4>
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="https://www.blockbluelight.co.uk/cdn/shop/products/blockbluelight-blue-light-filter-computer-glasses-clear-lens-screentime-taylor-computer-glasses-black-29752200659076.jpg?v=1651271597" alt="">
                <figcaption class="title is-6 has-text-centered">Gaopai</h4>
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="https://www.blockbluelight.co.uk/cdn/shop/products/blockbluelight-blue-light-filter-computer-glasses-clear-lens-screentime-taylor-computer-glasses-black-29752200659076.jpg?v=1651271597" alt="">
                <figcaption class="title is-6 has-text-centered">Zabdi</h4>
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <figure class="image is-1280x720">
                <img src="https://images.ctfassets.net/ihx0a8chifpc/GTlzd4xkx4LmWsG1Kw1BB/ad1834111245e6ee1da4372f1eb5876c/placeholder.com-1280x720.png?w=1920&q=60&fm=webp" alt="">
                <br>
                <figcaption class="title is-3 has-text-centered">Blue Ray</h4>
            </figure>
        </div>
        <div class="column">
            <figure class="image is-1280x720">
                <img src="https://images.ctfassets.net/ihx0a8chifpc/GTlzd4xkx4LmWsG1Kw1BB/ad1834111245e6ee1da4372f1eb5876c/placeholder.com-1280x720.png?w=1920&q=60&fm=webp" alt="">
                <br>
                <figcaption class="title is-3 has-text-centered">Fotocromático</h4>
            </figure>
        </div>
    </div>
    <br>
    <h1 class="title has-text-centered">
        ¡El examen es gratuito!
    </h1>
    <div class="columns is-centered">
        
        <a href="/user/cliente/agendar_cita" class="button is-danger-dark is-large">
            Agendar Cita
        </a>
    </div>
    <br>
    <footer class="footer">
        <div class="content has-text-centered">
            <strong>Ópticas Ellena</strong>
            <br>
            <div class="columns">
                <div class="column">
                    <a class="button is-small is-facebook">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a>
                    <a class="button is-small is-instagram">
                        <span class="icon">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                    <a class="button is-small is-apple">
                        <span class="icon">
                            <i class="fab fa-tiktok"></i>
                        </span>
                    </a>
                </div>
            </div>
            
        </div>
    </footer>
</body>
</html>