<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <title><%if (registrar) {%> Registrar Usuario <% } else { %> Login <% } %></title>
</head>
<body class="background">
    <%- include('includes/menu') %>
    <div class="column is-4 is-offset-4 login-wrapper">
        <div class="box px-5 box-wrapper">
            <div class="title has-text-centered">
                <% if (registrar) { %> Registrar Cuenta <% } else { %> Iniciar Sesión <% } %>
            </div>
            <% if (error) { %>
                <span class="tag is-light my-2">
                    <%= error %>
                </span>
            <% } else if (emailSent) { %>

                <div class="mb-2">
                    <strong><%= emailSent %></strong>
                </div>

            <% } %>

            <form action= <% if (registrar) { %> "/user/registrar" <% } else { %>"/user/login" <% } %> method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="username" placeholder="Nombre de Usuario" autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>  
                    </p>
                </div>
                <% if (registrar) { %>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="nombre" placeholder="Nombre(s)" autocomplete="off">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>  
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="apellido" placeholder="Apellido(s)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>  
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="telefono" placeholder="Teléfono" autocomplete="off">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>  
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="correo" placeholder="Correo">
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>  
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>  
                        </p>
                    </div>
                <% } %>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="contrasena" placeholder="Contraseña">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>  
                    </p>
                </div>
                <% if (registrar) {%>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="confirmar_contrasena" placeholder="Confirmar Contraseña">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>  
                        </p>
                    </div>
                <% } %>
                
                <div class="field">
                    <input class="button is-danger-dark is-medium is-fullwidth" type="submit" value= <% if (registrar) { %> "Registrar" <% } else { %> "Iniciar Sesión" <% } %>>
                </div>
                <% if (!registrar) { %>
                <div class="field">
                    <a class="button is-light is-medium is-fullwidth" href="/user/registrar">Registrar Usuario</a>
                </div>
                <% } %>
            </form>
        </div>
    </div>
</body>
</html>